---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<img src="/logo.png" alt="Groselhas Assassinas" />
		</main>
	</body>
</html>

<style>
	body {
		margin: 0;
		background-color: #6600cc;
		background-image: url('/bg_groselhas.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	img {
		max-width: min(600px, 90vw);
		height: auto;
	}
</style>
